
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  font-weight: normal;
  margin: 5px;
}

p {
  color: #333;
}
.top{
  position: absolute;
  left: 0px;
  top: 0px;
  width:1366px;

  background-color: #09503c;
  text-align: center;
  width: auto;
  font-size: 24px;
  z-index: -10;
}

#hr{
  margin: 0px;
}

#change{
  text-align: center;
  width: auto;
  font-size: 24px;
}
#custom{
  margin-left:10%;
  width: 80%;
  height:70%;
  margin-right: 10%;
}
