
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  font-weight: normal;
  margin: 15px;
}

p {
  color: #333;
}
.top{
  margin-left: 10%;
  width:80%; height:10%; border-bottom:0px solid #999999;}

#two{
  text-align: center;
  width: auto;
  height: 5%;
  font-size: 40px;
}
#change{
  text-align: center;
  width: auto;
  height: 50%;
  font-size: 40px;
}
#custom{
  margin-left:10%;
  width: 80%;
  margin-right: 10%;
}
