
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  font-weight: normal;
  margin: 5px;
}

p {
  color: #333;
}
.top{
  width:80%;
  height:40px;
  border-bottom:0px solid #999999;
  text-align: center;
  width: auto;
  font-size: 24px;}
#hr{
  margin: 0px;
}

#change{
  text-align: center;
  width: auto;
  font-size: 24px;
}
#custom{
  margin-left:10%;
  width: 80%;
  height:70%;
  margin-right: 10%;
}
